{% extends "user/manager.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% block head_css %}
    <style>
        .h-100 {
            height: auto !important;
        }

        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
{% endblock %}


{% block wrapper %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Notifications</h1>
        </div>
        <div class="d-sm-flex align-items-center">
            <h1 class="h4 mb-0 text-gray-800">The People You Follow</h1>
            <a  href="{% url "community:notification_user_all" %}" class="h9 mb-0 text-gray-800"><i>&nbsp; (See All) </i></a>
        </div>
        <div class="row">
            {% load activity_tags %}
            {% if user_activities|length == 0 %}
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <a href="{% url "community:popular_items" %}">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">You Do Not Have Any Notification</div>
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Click Here To Find out Something Interesting</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
            {% for action in user_activities %}
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">{% display_action action %}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}

        </div>
    </div>

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center">
            <h1 class="h4 mb-0 text-gray-800">The Communities You Follow</h1>
            <a  href="{% url "community:notification_community_all" %}" class="h9 mb-0 text-gray-800"><i>&nbsp; (See All) </i></a>
        </div>
        <div class="row">
            {% if communitiy_activities|length == 0 %}
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <a href="{% url "community:popular_items" %}">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">You Do Not Have Any Notification</div>
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Click Here To Find out Something Interesting</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
            {% for action in communitiy_activities %}
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">{% display_action action %}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center">
            <h1 class="h4 mb-0 text-gray-800">The Posts You Follow</h1>
            <a  href="{% url "community:notification_post_all" %}" class="h9 mb-0 text-gray-800"><i>&nbsp; (See All) </i></a>
        </div>
        <div class="row">
            {% if post_activities|length == 0 %}
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <a href="{% url "community:popular_items" %}">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">You Do Not Have Any Notification</div>
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Click Here To Find out Something Interesting</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
            {% for action in post_activities %}
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">{% display_action action %}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>


    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center">
            <h1 class="h4 mb-0 text-gray-800">The Post Templates You Follow</h1>
            <a  href="{% url "community:notification_posttemplate_all" %}" class="h9 mb-0 text-gray-800"><i>&nbsp; (See All) </i></a>
        </div>
        <div class="row">
            {% if posttemplate_activities|length == 0 %}
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <a href="{% url "community:popular_items" %}">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">You Do Not Have Any Notification</div>
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Click Here To Find out Something Interesting</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
            {% for action in posttemplate_activities %}
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">{% display_action action %}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>


{% endblock %}


</html>
