{% extends "user/manager.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% block wrapper %}
    <!-- Masthead -->
    <div class="row">
            {% for city in cities %}
                <div class="card col-lg-6" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url "city:detail-city" city.name %}"> {{ city.name }}</a></h5>
                    <p class="card-text">{{ city.country_name }}</p>
                    <p class="card-text">{{ city.geolocation }}</p>
                </div>
            </div>

            {% endfor %}

    </div>
{% endblock %}

</html>
