{% extends "user/manager.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% block wrapper %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- todo  -->
        <!-- Page Heading -->

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ community.name }}</h1>
            {% if is_user_joined %}
                <div style="float: right">
                    <a class="" href="{% url "community:posts-create" community.id %}">
                        <i class="fas fa-fw fa-plus"></i>
                        <span>Create Post</span></a>
                    <a class="" href="{% url "community:data-type-create" community.id %}">
                        <i class="fas fa-fw fa-plus"></i>
                        <span>Create Object Type</span></a>
                </div>
            {% else %}
                <a class="button" href="{% url "community:join-community" community.id %}">
                    <i class="fas fa-fw fa-plus"></i>
                    <span>Join</span></a>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-lg-12 mb-12" style="display: none" id="follow-success">
                <div class="card bg-success text-white shadow">
                    <div class="card-body">
                        User Followed Successfully
                    </div>
                </div>
            </div>
            </br>
            </br>
            </br>
            {% for post in posts %}
                <div class="col-lg-6">

                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">{{ post.name }}</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Action:</div>
                                    <a class="dropdown-item" href="{% url "community:post-detail" post.id %}">Go to
                                        Post</a>
                                    {#                                    <a class="dropdown-item" href="#">Another action</a>#}
                                    {#                                    <div class="dropdown-divider"></div>#}
                                    {#                                    <a class="dropdown-item" href="#">Something else here</a>#}
                                    {% if user.id != post.created_by.id %}
                                        <div class="dropdown-header">Created By:</div>
                                        <a class="dropdown-item"
                                           href="#">{{ post.created_by.username }}</a>
                                        <a class="dropdown-item"
                                           href="#">{{ post.created }}</a>
                                        <div class="dropdown-header">Follow</div>
                                        {% if user.id != post.created_by.id %}
                                            <a class="dropdown-item" href="#"
                                               onclick="follow({{ post.created_by.id }});">Follow {{ post.created_by.username }}</a>
                                        {% endif %}
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            {{ post.description }}
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>

    </div>
    <script type="text/javascript">

        var follow = function (user_id) {
            $.ajax({
                method: "GET",
                url: "/activity/follow/7/" + user_id,
                success: function (data) {
                    $("#follow-success").show();
                    $("#follow-success").fadeOut(2000);
                    console.log("success");

                }
            });
            return false;
        };


    </script>
{% endblock %}

</html>
