{% extends "user/manager.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">


{% block wrapper %}
    <div class="row">
            <div id="comm_alert" class="alert alert-danger col-xl-12 col-md-12" role="alert" style="display: none;">
                A community with the same name already exists
            </div>
    </div>
    <div class="row">
        {% csrf_token %}
        <div class="col-md-8 col-lg-8 col-xl-8 mx-auto">
            <div class="comm-form-base">
                <div class="form-group">
                    <div class="col-md-6 col-lg-6 col-xl-6 mx-auto">
                        <h1 class="h3 mb-0 text-gray-800">Create Community</h1>
                    </div>
                    <h5 class="mb-0 text-gray-800">Name</h5>
                    <input name="name" type="name" class="form-control form-control-user" id="community_name"
                           aria-describedby="nameHelp" placeholder="Enter name">
                    <br>
                    <h5 class="mb-0 text-gray-800">Description</h5>
                    <input name="description" type="name" class="form-control form-control-user"
                           id="data_type_description"
                           aria-describedby="nameHelp" placeholder="Enter description">
                    <div style="margin: 20px 0 20px 0">
                        <h5 class="mb-0 text-gray-800">Tags</h5>
                        <select id="myTags" size="8" style="width: 100%;"></select>
                        </select>
                        <p>To add a tag in the list, click the "Add" button.</p>
                        <input name="one_tag" type="name"
                               class="form-control form-control-user col-md-4 col-lg-4 col-xl-4"
                               id="one_tag"
                               aria-describedby="tagHelp" placeholder="Enter tag">
                        <button onclick="tag_select()">Add</button>
                        <button onclick="removeOption()">
                            Remove Tag
                        </button>
                    </div>
                     <button class="btn-success" style="border-radius: 6px;width: 83px;height: 40px;"
                            onclick="send_json();">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>


        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        var send_json = function () {
            var tags = new Array();
            $('#myTags option').each(function () {
                tags.push($(this).val());
            });
            console.log(tags);
            var name = $("#community_name").val();
            var description = $("#data_type_description").val();
            var csrftoken = $("input[name='csrfmiddlewaretoken']").val();
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.ajax({
                method: "POST",
                url: "{% url "community:communities-create" %}",
                data: {tag: tags, name, description},
                success: function (data) {
                    var community_id = data["community_id"];
                    if(community_id) {
                        window.location = "/communities/" + community_id;
                    }
                    else{
                        $("#comm_alert").show();
                    }
                },
            })
        };

        $('#community_name').on('keyup', function () {
            if (this.value.length < 4) return;
            $("#myTags").empty();
            var name = $("#community_name").val();
            $.ajax({
                method: "GET",
                url: "https://www.wikidata.org/w/api.php?action=wbsearchentities&language=en&format=json&origin=*&search=" + name,
                success: function (data) {
                    var d = document.getElementById("myTags");
                    var option = document.createElement("option");
                    for (var i = 0; i < 5; i++) {
                        option.text = data.search[i].label;
                        $("#one_tag").val("");
                        d.add(option, d[i])
                    }
                },
            });
            return false;
        });

        var tag_select = function tag_select() {
            var d = document.getElementById("myTags");
            var option = document.createElement("option");
            option.text = $("#one_tag").val();
            $("#one_tag").val("");
            d.add(option, d[1])
        };

        $(".deleteMe").on("click", function () {
            $(this).closest("li").remove();
        });

        function removeOption() {

            /* select the option with the
            value of basic and remove the option*/
            $('#myTags option:selected').remove();
        }

    </script>
{% endblock %}


</html>
