{% extends "user/manager.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% block head_css %}
    <style>
        .h-100 {
            height: auto !important;
        }

        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
            display: none;
        }
    </style>
{% endblock %}


{% block wrapper %}
    <div class="row">
        <div id="comm_alert" class="alert alert-danger col-xl-12 col-md-12" role="alert" style="display: none;">
            A community with the same name already exists
        </div>
    </div>
    <div class="row">
        {% csrf_token %}
        <div class="col-md-8 col-lg-8 col-xl-8 mx-auto">
            <div class="comm-form-base">
                <div class="form-group">
                    <div class="col-md-6 col-lg-6 col-xl-6 mx-auto">
                        <h1 class="h3 mb-0 text-gray-800">Create Community</h1>
                    </div>
                    <h5 class="mb-0 text-gray-800">Name</h5>
                    <input name="name" type="name" class="form-control form-control-user" id="community_name"
                           aria-describedby="nameHelp" placeholder="Enter name">
                    <br>
                    <h5 class="mb-0 text-gray-800">Description</h5>
                    <input name="description" type="name" class="form-control form-control-user"
                           id="data_type_description"
                           aria-describedby="nameHelp" placeholder="Enter description">
                    <br>
                    <h5 class="mb-0 text-gray-800">City</h5>
                    <div style="margin: 20px 0 20px 0">
                        <input name="city_name" type="name"
                               class="form-control form-control-user col-md-4 col-lg-4 col-xl-4"
                               id="city_name"
                               aria-describedby="city_name" placeholder="Search City">
                        <button onclick="search_city();">Search</button>
                    </div>
                    <div class="col-lg-12">
                        <div id="map"></div>
                        <input id="city_info" value="" style="display: none" readonly>
                        <input id="city_image" value="" style="display: none" readonly>
                        <input id="city_lat" value="" style="display: none" readonly>
                        <input id="city_lng" value="" style="display: none" readonly>
                    </div>

                    <div style="margin: 20px 0 20px 0">
                        <h5 class="mb-0 text-gray-800">Tags</h5>
                        <select id="myTags" size="8" style="width: 100%;"></select>
                        </select>
                        <p>To add a tag in the list, click the "Add" button.</p>
                        <input name="one_tag" type="name"
                               class="form-control form-control-user col-md-4 col-lg-4 col-xl-4"
                               id="one_tag"
                               aria-describedby="tagHelp" placeholder="Enter tag">
                        <button onclick="tag_select()">Add</button>
                        <button onclick="removeOption()">
                            Remove Tag
                        </button>
                    </div>
                    <button class="btn-success" style="border-radius: 6px;width: 83px;height: 40px;"
                            onclick="send_json();">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function initMap(lat, lng) {

            var location = {lat: lat, lng: lng,};

            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 1, center: location});

            console.log(lat, lng);
            new google.maps.Marker({
                position: {
                    lat: lat,
                    lng: lng
                }, map: map
            });


        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX0K8j8RSzk2VyXi3Eks1cy-muY2FmD50">
    </script>
    <script>

        //Filling dropdown by the names of cities
        let dropdown = $('#locality-dropdown');
        dropdown.empty();
        dropdown.append('<option selected="true" disabled>Choose City of Community</option>');
        dropdown.prop('selectedIndex', 0);
        $.ajax({
            method: "GET",
            url: "{% url "city:all-cities" %}",
            success: function (data) {
                var cities = data["cities"];
                var obj = JSON.parse(cities)
                var arrayLength = obj.length;
                for (var i = 0; i < arrayLength; i++) {
                    var city = obj[i].fields.name
                    dropdown.append($('<option></option>').attr('value', city).text(city));
                }
                console.log(obj);
            },
        });

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        var send_json = function () {
            var tags = new Array();
            $('#myTags option').each(function () {
                tags.push($(this).val());
            });
            console.log(tags);
            var city_lng = $("#city_lng").val();
            var city_lat = $("#city_lat").val();
            var city_image = $("#city_image").val();

            var name = $("#community_name").val();
            var description = $("#data_type_description").val();
            var csrftoken = $("input[name='csrfmiddlewaretoken']").val();

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            var selectedCity = $("#city_info").val()

            $.ajax({
                method: "POST",
                url: "{% url "community:communities-create" %}",
                data: {
                    tag: tags,
                    lng: city_lng,
                    lat: city_lat,
                    image: city_image,
                    name,
                    description,
                    selectedCity
                },
                success: function (data) {
                    var community_id = data["community_id"];
                    if (community_id) {
                        window.location = "/communities/" + community_id;
                    } else {
                        $("#comm_alert").show();
                    }
                },
            })

        };

        $('#community_name').on('keyup', function () {
            if (this.value.length < 4) return;
            $("#myTags").empty();
            var name = $("#community_name").val();
            $.ajax({
                method: "GET",
                url: "https://www.wikidata.org/w/api.php?action=wbsearchentities&language=en&format=json&origin=*&search=" + name,
                success: function (data) {
                    var d = document.getElementById("myTags");
                    var option = document.createElement("option");
                    for (var i = 0; i < 5; i++) {
                        option.text = data.search[i].label;
                        $("#one_tag").val("");
                        d.add(option, d[i])
                    }
                },
            });
            return false;
        });

        var tag_select = function tag_select() {
            var d = document.getElementById("myTags");
            var option = document.createElement("option");
            option.text = $("#one_tag").val();
            $("#one_tag").val("");
            d.add(option, d[1])
        };

        $(".deleteMe").on("click", function () {
            $(this).closest("li").remove();
        });

        function removeOption() {

            /* select the option with the
            value of basic and remove the option*/
            $('#myTags option:selected').remove();
        }

        var search_city = function () {
            var city = $("#city_name").val();
            var csrftoken = $("input[name='csrfmiddlewaretoken']").val();
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $.ajax({
                method: "POST",
                url: "{% url "api:search-city" %}",
                data: {city: city},
                success: function (data) {
                    $("#map").show();
                    initMap(data.message.candidates[0].geometry.location.lat, data.message.candidates[0].geometry.location.lng);

                    $("#city_lat").val(data.message.candidates[0].geometry.location.lat);
                    $("#city_lng").val(data.message.candidates[0].geometry.location.lng);
                    $("#city_image").val("data:image/jpeg;base64,/9j/4gIcSUNDX1BST0Z");
                    $("#city_info").val(data.message.candidates[0].formatted_address);
                    $("#city_info").show();
                    console.log(data.message);

                },
            })

        };

    </script>
{% endblock %}


</html>
