{% extends "user/manager.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% block wrapper %}
    <!-- Masthead -->
    <div class="col-md-10 col-lg-10 col-xl-10 mx-auto">
        <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-top: 15px">
            <h1 class="h1 mb-0 text-gray-900">{{ user.username }}</h1>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <a href="{% url "community:user-posts" user.id %}">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Created Posts
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ created_post_count }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-copy fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <a href="{% url "community:followings_user_all" %}">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">#Following
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ following_users_count }}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-users fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <a href="{% url "community:followers" %}">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">#Followers
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ follower_count }}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-users fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card shadow col-md-12">
                <div class="card-header py-12">
                    <h6 class="m-0 font-weight-bold text-primary">Popular Communities By Posts</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="myBarChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-top: 15px">
            <h1 class="h5 mb-0 text-gray-800">Change Password</h1>
        </div>
        <div class="row ">
            {% csrf_token %}

            <div class="col-lg-12 mb-12" style="display: none" id="password-success">
                <div class="card bg-success text-white shadow">
                    <div class="card-body">
                        Password Changed Successfully
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mb-12" style="display: none" id="password-error">
                <div class="card bg-dark-red text-dark shadow">
                    <div class="card-body">
                        Error Changing Password
                    </div>
                </div>
            </div>

            <div class="card shadow col-md-6">
                <div class="form-group" style="margin-top: 10px">
                    <input name="old_password" type="password" class="form-control form-control-user"
                           id="old_password"
                           aria-describedby="old_password" placeholder="Old Password" style="
margin-bottom: 20px;">
                    <input name="new_password" type="password" class="form-control form-control-user"
                           id="new_password"
                           aria-describedby="new_password" placeholder="New Password" style="
margin-bottom: 20px;">
                    <input name="re_new_password" type="password" class="form-control form-control-user"
                           id="re_new_password"
                           aria-describedby="re_new_password" placeholder="Re-type New Password" style="
margin-bottom: 20px;">
                    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto" style="text-align: center;margin-bottom: 20px">
                        <textarea hidden id="form_data"></textarea>
                        <button class="btn-success" style="border-radius: 6px;width: 83px;height: 40px;"
                                onclick="change_password();">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script type="text/javascript" charset="utf8"
            src="{% static "vendor/chart.js/Chart.js" %}"></script>
    <script>
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        function number_format(number, decimals, dec_point, thousands_sep) {
            // *     example: number_format(1234.56, 2, ',', ' ');
            // *     return: '1 234,56'
            number = (number + '').replace(',', '').replace(' ', '');
            var n = !isFinite(+number) ? 0 : +number,
                prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                s = '',
                toFixedFix = function (n, prec) {
                    var k = Math.pow(10, prec);
                    return '' + Math.round(n * k) / k;
                };
            // Fix for IE parseFloat(0.55).toFixed(0) = 0;
            s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || '';
                s[1] += new Array(prec - s[1].length + 1).join('0');
            }
            return s.join(dec);
        }

        // Bar Chart Example
        var ctx = document.getElementById("myBarChart");

        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["{{ popular_communities.0.name }}", "{{ popular_communities.1.name }}", "{{ popular_communities.2.name }}", "{{ popular_communities.3.name }}", "{{ popular_communities.4.name }}", "{{ popular_communities.5.name }}"],
                datasets: [{
                    label: "Number Of Posts",
                    backgroundColor: "#4e73df",
                    hoverBackgroundColor: "#2e59d9",
                    borderColor: "#4e73df",
                    data: ["{{ popular_communities.0.number_of_posts }}", "{{ popular_communities.1.number_of_posts }}", "{{ popular_communities.2.number_of_posts }}", "{{ popular_communities.3.number_of_posts }}", "{{ popular_communities.4.number_of_posts }}", "{{ popular_communities.5.number_of_posts }}"],
                }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'name'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 6
                        },
                        maxBarThickness: 25,
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            maxTicksLimit: 5,
                            padding: 10,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return '' + number_format(value);
                            }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        }
                    }],
                },
                legend: {
                    display: false
                },
                tooltips: {
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + ': ' + number_format(tooltipItem.yLabel);
                        }
                    }
                },
            }
        });


        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        var change_password = function () {
            var old_password = $("#old_password").val();
            var new_password = $("#new_password").val();
            var re_new_password = $("#re_new_password").val();
            var csrftoken = $("input[name='csrfmiddlewaretoken']").val();
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.ajax({
                method: "POST",
                url: "{% url "community:dashboard"%}",
                data: {old_password: old_password, new_password: new_password, re_new_password: re_new_password},
                success: function (data) {
                    $("#password-success").show();
                    $("#password-success").fadeOut(3800);
                    console.log("success");
                },
                error: function () {
                    $("#password-error").show();
                    $("#password-error").fadeOut(3800);
                    console.log("error")

                }
            });
            return false;
        };


    </script>
{% endblock %}

</html>
