{% extends "user/manager.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% block head_css %}
    <style>
        .h-100 {
            height: auto !important;
        }

        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
{% endblock %}


{% block wrapper %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Following List</h1>
        </div>
        <div class="d-sm-flex align-items-center">
            <h1 class="h4 mb-0 text-gray-800">The Users You Follow</h1>
            <a  href="{% url "community:followings_user_all" %}" class="h9 mb-0 text-gray-800"><i>&nbsp; (See All) </i></a>
        </div>

    <!-- Begin Page Content -->
    <div class="container-fluid">

    </div>
    <div class="row">
        <div class="col-lg-12 mb-12" style="display: none" id="follow-success">
            <div class="card bg-success text-white shadow">
                <div class="card-body">
                    Successfully Followed
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-12" style="display: none" id="unfollow-success">
                <div class="card bg-success text-white shadow">
                    <div class="card-body">
                        Successfully Unfollowed
                    </div>
                </div>
            </div>
            </br>
            </br>
            </br>
            {% if following_users|length == 0 %}
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <a href="{% url "community:popular_items" %}">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">You Are Not Following Anybody</div>
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Click Here To Find out Something Interesting</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
            {% for item in following_users %}
                <div class="col-lg-6">
                    {% csrf_token %}
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">{{ item.username }}</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Actions</div>
                                    <!-- Follow User -->
                                    <a class="dropdown-item"
                                       href="#"
                                       onclick="unfollow({{ item.id }});">Unfollow User</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body" id="{{ item.username }}description">
                            Last Login: {{ item.last_login }}
                        </div>
                    </div>
                </div>
            {% endfor %}
         {% endif %}
        </div>
    </div>
    <br>

    <!-- Community -->

        <div class="d-sm-flex align-items-center">
            <h1 class="h4 mb-0 text-gray-800">The Communities You Follow</h1>
        <a  href="{% url "community:followings_community_all" %}" class="h9 mb-0 text-gray-800"><i>&nbsp; (See All) </i></a>
        </div>

    <!-- Begin Page Content -->
    <div class="container-fluid">

    </div>
    <div class="row">
        <div class="col-lg-12 mb-12" style="display: none" id="follow-success">
            <div class="card bg-success text-white shadow">
                <div class="card-body">
                    Successfully Followed
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-12" style="display: none" id="unfollow-success">
                <div class="card bg-success text-white shadow">
                    <div class="card-body">
                        Successfully Unfollowed
                    </div>
                </div>
            </div>
            </br>
            </br>
            </br>
            {% if following_communities|length == 0 %}
                <div class="col-xl-auto col-md-auto mb-auto">
                    <div class="card border-left-info shadow h-100 py-2">
                        <a href="{% url "community:popular_items" %}">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">You Are Not Following Any Community</div>
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Click Here To Find out Something Interesting</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
            {% for item in following_communities %}
                <div class="col-lg-6">
                    {% csrf_token %}
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">{{ item.name }}</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Actions</div>
                                    <!-- Unfollow Community -->
                                    <a class="dropdown-item"
                                       href="#"
                                       onclick="unfollow_community({{ item.id }});">Unfollow
                                        Community</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body" id="{{ item.0 }}description">
                            Related City {{ item.city_id }}
                        </div>
                    </div>
                </div>
            {% endfor %}
         {% endif %}
        </div>
    </div>
    <br>

    <!-- Post -->

        <div class="d-sm-flex align-items-center">
            <h1 class="h4 mb-0 text-gray-800">The Post You Follow</h1>
        <a  href="{% url "community:followings_post_all" %}" class="h9 mb-0 text-gray-800"><i>&nbsp; (See All) </i></a>
        </div>

    <!-- Begin Page Content -->
    <div class="container-fluid">

    </div>
    <div class="row">
        <div class="col-lg-12 mb-12" style="display: none" id="follow-success">
            <div class="card bg-success text-white shadow">
                <div class="card-body">
                    Successfully Followed
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-12" style="display: none" id="unfollow-success">
                <div class="card bg-success text-white shadow">
                    <div class="card-body">
                        Successfully Unfollowed
                    </div>
                </div>
            </div>
            </br>
            </br>
            </br>
            {% if following_posts|length == 0 %}
                <div class="col-xl-auto col-md-auto mb-auto">
                    <div class="card border-left-info shadow h-100 py-2">
                        <a href="{% url "community:popular_items" %}">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">You Are Not Following Any Posts</div>
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Click Here To Find out Something Interesting</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
            {% for item in following_posts %}
                <div class="col-lg-6">
                    {% csrf_token %}
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">{{ item.name }}</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Actions</div>
                                    <!-- Unfollow Community -->
                                    <a class="dropdown-item"
                                       href="#"
                                       onclick="unfollow_post({{ item.id }});">Unfollow
                                        Post</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body" id="{{ item.name }}description">
                            Community {{ item.community.name }}
                        </div>
                    </div>
                </div>
            {% endfor %}
         {% endif %}
        </div>
    </div>
    <br>


    <!-- Post Template -->

        <div class="d-sm-flex align-items-center">
            <h1 class="h4 mb-0 text-gray-800">The Post Templates You Follow</h1>
        <a  href="{% url "community:followings_posttemplate_all" %}" class="h9 mb-0 text-gray-800"><i>&nbsp; (See All) </i></a>
        </div>

    <!-- Begin Page Content -->
    <div class="container-fluid">

    </div>
    <div class="row">
        <div class="col-lg-12 mb-12" style="display: none" id="follow-success">
            <div class="card bg-success text-white shadow">
                <div class="card-body">
                    Successfully Followed
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-12" style="display: none" id="unfollow-success">
                <div class="card bg-success text-white shadow">
                    <div class="card-body">
                        Successfully Unfollowed
                    </div>
                </div>
            </div>
            </br>
            </br>
            </br>
            {% if following_post_templates|length == 0 %}
                <div class="col-xl-auto col-md-auto mb-auto">
                    <div class="card border-left-info shadow h-100 py-2">
                        <a href="{% url "community:popular_items" %}">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">You Are Not Following Any Post Template</div>
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Click Here To Find out Something Interesting</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
            {% for item in following_post_templates %}
                <div class="col-lg-6">
                    {% csrf_token %}
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">{{ item.name }}</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Actions</div>
                                    <!-- Unfollow Community -->
                                    <a class="dropdown-item"
                                       href="#"
                                       onclick="unfollow_posttemplate({{ item.id }});">Unfollow
                                        Post Template</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body" id="{{ item.name }}description">
                            Community {{ item.community.name }}
                        </div>
                    </div>
                </div>
            {% endfor %}
         {% endif %}
        </div>
    </div>
    <br>


{% endblock %}


</html>
