{% extends "user/manager.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% block head_css %}
    <style>
        .h-100 {
            height: auto !important;
        }

        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
{% endblock %}


{% block wrapper %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
    <td><a href="{% url "api:comment-list-specific" post.id%}"></a></td>
    <td><a href="{% url "api:comment-create-post" post.id %}"></a></td>

        {% csrf_token %}
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" id="postName">{{ post.name }}</h1>
            <span onclick="listenAudioVersion({{ post.id }})"><i class="fas fa-volume-up"></i>Listen Audio</span>
        </div>
        <div class="d-sm-flex align-items-center justify-content-between mb-4" id ="allTags">
            {% for tag in post.tags.all %}
                <a href="#">#{{ tag.name }}</a>
            {% endfor %}
        </div>
        <div class="row">
            {% for key,value in post.post_content.items %}
                {% if key == "name" %}
                {% elif key == "description" %}
                {% elif value.url %}
                    <div class="col-lg-6">

                        <!-- Illustrations -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">{{ key }}</h6>
                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <img id="target" class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                         src="/media/{{ value.url }}" alt="">
                                    <div style="visibility : hidden;" class="jc_coords">
                                            <form id="coords"
                                                class="coords"
                                                onsubmit="return false;"
                                                action="http://example.com/post.php">

                                                <div class="inline-labels">
                                                <label style="visibility : hidden;" >X1 <input type="text" size="4" id="x1" name="x1" /></label>
                                                <label style="visibility : hidden;">Y1 <input type="text" size="4" id="y1" name="y1" /></label>
                                                <label style="visibility : hidden;">X2 <input type="text" size="4" id="x2" name="x2" /></label>
                                                <label style="visibility : hidden;">Y2 <input type="text" size="4" id="y2" name="y2" /></label>
                                                <label style="visibility : hidden;">W <input type="text" size="4" id="w" name="w" /></label>
                                                <label style="visibility : hidden;">H <input type="text" size="4" id="h" name="h" /></label>
                                                </div>
                                              </form>
                                        </div>
                                </div>
                            </div>
                        </div>

                    </div>
                {% elif value|make_list|slice:'1'|join:'' == "*" %}
                    <div class="col-lg-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">{{ key }}</h6>
                            </div>
                            <input id="location" hidden value="{{ value|make_list|slice:'1:'|join:'' }}">
                            <div id="map"></div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="col-lg-6">
                {% for key,value in post.post_content.items %}
                    {% if key == "name" %}
                    {% elif key == "description" %}
                    {% elif value.url %}
                    {% elif value|make_list|slice:'1'|join:'' == "*" %}
                    {% else %}

                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary" id = {{ key }}>{{ key }}</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body" >
                                {{ value }}
                            </div>

                        </div>
                    {% endif %}
                {% endfor %}
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Comments </h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div id="makeComment"></div>
                                <ul class="list-group list-group-flush" id = "comments"> </ul>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <script>
        function initMap() {
            // The location of Uluru
            var location_string = $("#location").val().split(",");
            var lat = location_string[0];
            var lon = location_string[1];

            var uluru = {lat: parseFloat(lat), lng: parseFloat(lon)};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 4, center: uluru});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map});
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX0K8j8RSzk2VyXi3Eks1cy-muY2FmD50&callback=initMap">
    </script>

    <script>


        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

            var csrftoken = $("input[name='csrfmiddlewaretoken']").val();
           $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.ajax({
                method: "GET",
                url: "{% url 'api:comment-list-specific' post.id %}",
                success: function (data) {
                    var comments = data["comments"];
                    //console.log(comments);
                    var commentsJSON = JSON.parse(comments);
                    var commentsLength = Object.keys(commentsJSON).length;
                    var ul = document.getElementById("comments");
                    //console.log(commentsJSON)
                    $.ajax({
                            method: "GET",
                            url: "{% url 'community:get-all-users' %}",
                            success: function (data) {
                                var allUsers = JSON.parse(data["users"])
                                var usersLength = Object.keys(allUsers).length;

                    for (var i = 0; i < commentsLength; i++){
                        //console.log('D:' + commentsJSON[i].fields.created_by)
                        var username="Undefined";
                        for(var d=0; d<usersLength; d++){
                            //console.log(allUsers[d].fields.username + " - " + allUsers[d].pk)
                            //console.log("Esitlik: " + commentsJSON[i].fields.created_by + " = " +allUsers[d].pk )
                            if(commentsJSON[i].fields.created_by==allUsers[d].pk){
                                //console.log("SONUC: " + commentsJSON[i].fields.created_by + " = " +allUsers[d].pk )
                                username = allUsers[d].fields.username
                            }
                        }
                        var li = document.createElement("li");
                        li.setAttribute("class", "list-group-item")
                        li.appendChild(document.createTextNode(username.toUpperCase()+":  " + commentsJSON[i].fields.content));
                        li.appendChild(document.createElement("br"));
                        li.appendChild(document.createTextNode("Date: " + commentsJSON[i].fields.created.split("T")[0] +" " +commentsJSON[i].fields.created.split("T")[1].split(".")[0]))
                        ul.appendChild(li);
                    }
                         }
                        });
                },
            })



    </script>
    <script>
        var textArea = document.createElement("textarea");
        textArea.setAttribute("id", "commentMessage")
        var button = document.createElement("button");
        button.setAttribute("id", "submitButton")
        button.innerHTML = "Make a comment";                   // Insert text
        button.style.marginBottom="5px";
        button.style.marginTop="5px";
        textArea.name = "post";
        textArea.maxLength = "250";
        textArea.cols = "50";
        textArea.rows = "2";
        var commentDiv = document.getElementById("makeComment");
        commentDiv.appendChild(textArea);
        commentDiv.appendChild(button);
        button.onclick = function(){
            var commentContent = document.getElementById("commentMessage").value;
             $.ajax({
                method: "POST",
                url: "{% url 'api:comment-create-post' post.id %}",
                 data: {"commentContent":commentContent },
                success: function (data) {
                    window.location.reload();
                }
             })
        };
    </script>
    <script>
    var listenAudioVersion= function (post_id) {
        console.log(post_id)
        var inputPostName = document.getElementById("postName");
        var PostName = inputPostName.innerHTML;
        var msgPostName = new SpeechSynthesisUtterance(PostName);
        window.speechSynthesis.speak(msgPostName);

        var length = document.getElementsByClassName("card-body").length;
        for (var a = 0; a < length; a++) {
            var inputTags = document.getElementsByClassName("card-body")[a];
            var Name = document.getElementsByClassName("m-0 font-weight-bold text-primary")[a].innerHTML;
            var Tags = inputTags.innerHTML;
            var tagContext = Name +" "+ Tags;
            console.log(tagContext)
            tagContext = tagContext.split("#").join("");
            if(tagContext.indexOf("</div>")==-1) {
                var msgTags = new SpeechSynthesisUtterance(tagContext);
                window.speechSynthesis.speak(msgTags);
            }
        }

        }
    </script>
    <script type="text/javascript">
       jQuery(function($){

        var jcrop_api;

        $('#target').Jcrop({
          onChange:   showCoords,
          onSelect:   showCoords,
          onRelease:  clearCoords
        },function(){
          jcrop_api = this;
        });

        $('#coords').on('change','input',function(e){
          var x1 = $('#x1').val(),
              x2 = $('#x2').val(),
              y1 = $('#y1').val(),
              y2 = $('#y2').val();
          jcrop_api.setSelect([x1,y1,x2,y2]);
          console.log("x1 : " + x1  + "y1 : " + y1 + "x2 : " + x2 + "y2 : " + y2 );
        });

      });

      // Simple event handler, called from onChange and onSelect
      // event handlers, as per the Jcrop invocation above
      function showCoords(c)
      {
        $('#x1').val(c.x);
        $('#y1').val(c.y);
        $('#x2').val(c.x2);
        $('#y2').val(c.y2);
        $('#w').val(c.w);
        $('#h').val(c.h);
      };

      function clearCoords()
      {
        $('#coords input').val('');
      };


 </script>
<style>
    .wrapper {
    position:relative;
}

.box {
    position:absolute;
    top:15px;
    left:20px;
    width:50px;
    height:50px;
    border:2px solid #ffffff;
    background-color:transparent;
    visibility: hidden;
}

.imageanno{
      position: absolute;
  top: -2%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
</style>
{% endblock %}


</html>
